<!DOCTYPE html>
<html>
  <head>
    <style>
      * { font-size: 15pt; }
    </style>
  </head>
  <body>
    <center>
      <p>{{iterationCount}} iteration(s)</p>
      <img src="/image.png">
      <p id="message"></p>
    </center>
    <script>
      const ws = new WebSocket('ws://localhost:{{websocketPort}}')
      ws.addEventListener('message', event => {
        console.log('received', event.data)
        if (event.data === 'refresh') {
          location.reload()
        } else {
          document.getElementById('message').innerText = event.data
        }
      })
    </script>
  </body>
</html>
